/* AZUL */
:root {
  --main-color: #003566;
  --main-color-dark: #002649;
  --main-color-darker: #000814;
  --main-color-light: #004582;
  --main-color-lighter: #0055a1;

  --accent-color: #ffd60a;
  --accent-color-dark: #caa900;
  --accent-color-darker: #9f8500;
  --accent-color-light: #ffdf3e;
  --accent-color-lighter: #ffe668;

  --grey-color: #222222;
  --grey-color-darker: #1a1a1a;
  --grey-color-light: #e0e0e0;

  --white: #fff;
  --background-color: #ebf3fa;
}

/* ----------- BUTTONS ----------- */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  letter-spacing: 0.5px;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn-main:link,
.btn-main:visited {
  color: var(--white);
  background-color: var(--main-color);
}

.btn-main:hover,
.btn-main:active {
  background-color: var(--main-color-lighter);
  text-decoration: none;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: var(--white);
  color: var(--grey-color);
}

.btn-outline:hover,
.btn-outline:active {
  box-shadow: inset 0 0 0 3px var(--grey-color-light);
}

.main-nav-link:link,
.main-nav-link:visited {
  color: var(--grey-color);
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--main-color-lighter);
  text-decoration: underline;
}

.btn-form {
  align-self: end;
  color: var(--white);
  background-color: var(--main-color-darker);
  font-size: 2rem;

  padding: 1.2rem;
}

.btn-form:hover {
  color: var(--main-color-darker);
  background-color: var(--white);
}

/* ----------- HEADER ----------- */

.navbar {
  /* height: 9rem; */
  padding: 2rem;
  background-color: var(--white);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 4.5rem;
  width: auto;
}

.main-nav {
  font-size: 2.4rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

/* ----------- MOBILE NAV ----------- */
.btn-mobile-nav {
  position: absolute;
  top: 3.45rem;
  right: 3.45rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2.1rem;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: var(--main-color-darker);
  border-radius: 10px;
}

/* ----------- MAIN SECTION ----------- */
.main-section {
  grid-template-columns: 1fr 1fr !important;

  margin-bottom: 4.8rem;
  max-width: 140rem;
  margin: 0 auto;

  gap: 5%;
}

.main-section-text {
  align-self: center;
  padding: 0 0 0 4.8rem;
}

.main-section-text h1 {
  font-size: 9.8rem;
  letter-spacing: -1.3px;
  font-weight: 400;

  align-items: center;

  margin-bottom: 4.8rem;
}

.main-section-text p {
  line-height: 1.5;
  margin-bottom: 3.2rem;
}

.main-section-text ul {
  display: flex;
  gap: 4rem;

  list-style: none;
}

/* ----------- CATEGORIAS ----------- */
.category-section {
  margin: 9.6rem 0;
}

.category-section-title {
  margin-bottom: 4.8rem;
}

.category-banners {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.category {
  overflow: hidden;
  text-decoration: none;
}

.category:hover {
  transform: translateY(-1.2rem);
}

.category-title {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3rem;
}

.category img {
  width: 350px;
  height: auto;
}

/* ----------- TESTIMONIALS ----------- */
.testimonials-banner {
  background-color: var(--main-color);
  color: var(--white);
  padding: 2.4rem;
  column-gap: 6.4rem;
  grid-template-columns: 40fr 60fr;
}

.testimonials-texts {
  align-self: center;
}

.testimonials-texts h3 {
  margin-bottom: 3.2rem;
  letter-spacing: 0.3px;
  font-weight: 600;
}

.testimonials-texts p,
.testimonials-texts blockquote {
  color: var(--background-color);
}

.testimonials-texts blockquote {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  font-style: italic;
  line-height: 1.4;
  letter-spacing: 1px;
}

.testimonials-texts p {
  font-size: 1.6rem;
}

/* ----------- DIFERENCIAIS ----------- */
.diferenciais-section {
  padding: 9.6rem 0;
}

.diferenciais-section-title {
  margin-bottom: 4.8rem;
}

.diferenciais-banners {
  display: flex;
  justify-content: space-between;
  gap: 4.8rem;
  margin: 0 auto;
  font-weight: 400;
}

.diferenciais-banner ion-icon {
  font-size: 3rem;
  color: var(--main-color);

  margin-bottom: 2.4rem;
}

.banner-title {
  margin-bottom: 1.2rem;
}

.banner-description {
  font-size: 1.8rem;
  line-height: 1.4;
}

/* ----------- FORM ----------- */
.form-section {
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  padding: 0;
  gap: 0;

  background-color: var(--main-color);
  color: var(--white);
  box-shadow: 0 1.25rem 1.875rem rgba(0, 0, 0, 0.2);

  margin-bottom: 9.6rem;
}

.form-texts {
  padding: 9.6rem;
}

.form-title {
  justify-content: start;
  margin-bottom: 4.8rem;
}

.form-text {
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
  letter-spacing: 0.2px;
}

.form-inputs {
  column-gap: 3.2rem;
  row-gap: 2.4rem;

  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.form-inputs input {
  width: 100%;
  padding: 0.9rem;
}

.form-inputs label {
  display: block;
  margin-bottom: 1.2rem;
}

.form-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ----------- FOOTER ----------- */

.copyright {
  text-align: center;

  padding: 2rem;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/ ;
